@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins&family=Roboto:wght@300&display=swap");
/*
@import "colores"
@import "navegacion"
@import "fuentes"
@import "footer"
*/
/*Variables globales*/
@font-face {
  font-family: "Playfair-fuente";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@300&display=swap");
}
@font-face {
  font-family: "Merryweather";
  src: url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Playfair+Display:ital@1&family=Roboto:wght@300&display=swap");
}
@font-face {
  font-family: "fuente-principal3";
  src: url("../fuentes/Merriweather-Regular.ttf");
}
/*
$relleno: 20px;
$fuente-principal: arial, helvetica, sans-serif;
$color-primario: blue;
$color-secundario: #e9e91e;

/*Mixins o funciones*/
/*mixin sin parametros*/
/*@mixin crearBordes($colorBorde,$tamanio,$colorBorde) {
    border: $tamanio solid $colorBorde;
    border-radius: $tamanio;
    background-color: $colorBorde;
}

.principal {
    @include crearBordes();
}*/
/*body {
    background-color: $color-primario;

    operaciones matematicas + - / *
    padding: ($relleno + 100 * 10;
}
*/
/* Personalizar varias etiquetas

  nav ul ui a {
      background-color : #000
  }

  nav {
    background color: red
      }
        ul {
          life-style-type: none;
        }
         li {
    }
           a {
}

*/
/*Condicionales IF*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if (color-home == blue){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($color-home == red) {
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if ($ancho > 50px){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($ancho >=100px ){
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*Bucle p ciclo FOR (ciclo exacto)*/
/*
$i: 1;

@for $i from 1 through 6 {

}

*/
/*Bucle o ciclo each*/
/*inicializamos la variable o array*/
/* 
$lista1; red, green, yellow, blue;

@each $color in $lista1 {
  background-color: $color;
  }
}

*/
/*Selector Reset o Universal*/
* {
  margin: 0;
  padding: 0;
}

/*Tipografia*/
/*fuente local*/
@font-face {
  font-family: "fuente-principal";
  src: url(../Fuentes/Roboto-Medium.ttf);
}
.container-fluid {
  font-size: 20px;
}

.boton-enviar {
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  font-family: "fuente-principal";
  border-radius: 100px;
  background-color: #dc3545;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes boton-comprar-anime {
  0% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
/*.boton-comprar {
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 150px;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
*/
.ben-prom, .titulo-sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin-top: 50px;
  background-color: #dc3545;
}

.boton-dias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
  margin: 10px;
  margin-left: 20px;
  border-radius: 100px;
  width: 100px;
  font-family: "fuente-principal";
  font-size: 15px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.flexi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid #000;
  padding: 15px 0px 20px 0px;
  margin: 50px;
  height: 400px;
}

.flexi-container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px 20px 0px;
  margin: 50px;
  height: 400px;
}

.caj-c1, .caj-c2, .caj-c3, .caj-c4, .caj-c5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.bbvafrances, .icbc, .modo, .santander, .american {
  width: 200px;
}

.boton-comprar-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

.boton-borrar {
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  font-family: "fuente-principal";
  border-radius: 100px;
  background-color: #dc3545;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vermas-boton-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.vermaspro-home {
  width: 270px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carrusel-perfumes {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-top: 20px;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
  background-color: #000;
  width: 300px;
  height: 300px;
}

.azzaro-carrusel, .chrome-carrusel, .calvin-carrusel, .carolina-carrusel, .dior-carrusel, .pacorabanne-carrusel, .tom-carrusel, .dolce-carrusel, .yves-carrusel, .invictus-carrusel {
  width: 300px;
  height: 300px;
}

.new-arriwals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.invictus, .tom-ford, .dolce-gabbana, .given-mujer, .given-intense {
  width: 300px;
}

.versace-dos, .calvin-klein, .dior-seiscuotas, .azzaro-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor-yvessaint, .contenedor-jeanpaul {
  display: flex;
  justify-content: start;
  margin-left: 10%;
}

.iframe-yvessaint {
  width: 850px;
  height: 450px;
  margin-bottom: 30px;
}

.iframe-jeanpaul {
  width: 650px;
  height: 450px;
  margin-bottom: 30px;
}

.img-yvessaint, .img-jeanpaul, .img-jeanpaul2 {
  width: 250px;
  margin-left: 45px;
}

.yvessaint-contenedor, .jeanpaul-contenedor, .jeanpaul-contenedor2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
}

.titulo-yvessaint, .titulo-jeanpaul, .titulo-jeanpaul2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cuotas-yvessaint, .cuotas-jeanpaul, .cuotas-jeanpaul2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.azzaro-publi-tamano, .carolina-publi-tamano, .versace-publi-tamano, .azzaro-puor-publi-tamano {
  width: 350px;
}

.container-azzaro, .container-carolina, .container-versace, .container-azzaro-puor {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 50px 0px 50px 20px;
}

.azzaro-publi, .carolina-publi, .versace-publi, .azzaro-puor-publi {
  /*Posición de los botones*/
  color: #000;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Personalización de los botones*/
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 150px;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Creed-fondo {
  background-image: url("Creed Fondo tres 1600 cortado.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 35px;
  font-size: 25px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 50px 0px 50px 150px;
}

.Azzaro-Fondo {
  background-image: url("Azzaro Fondo Web.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 35px;
  font-size: 25px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 50px 0px 50px 150px;
}

.cuotas-azzaro-pie {
  color: #000;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Personalización de los botones*/
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 150px;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cuotas-creed-home {
  color: #000;
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-50%, -50%);
  /*Personalización de los botones*/
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.azzaro-imagen-texto {
  color: #000;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.creed-imagen-texto {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.comprar-cuotas-azzaro {
  color: #000;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.comprar-cuotas-creed {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.muestra-azzaro {
  color: #fff;
  position: absolute;
  top: 77%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.muestra-creed {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.card-position {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  margin-left: 40px;
}

.boton-tarjeta {
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.pour, .eros, .blue, .ckblanco, .ckbotella, .cknegro, .dior-addict, .dior-homme, .dior-sport, .azzaro-chrome, .azzaro-themost, .azzaro-tres {
  width: 300px;
  margin-left: 15px;
}

iframe {
  width: 25%;
  display: flex;
  padding-top: 25px;
  justify-content: flex-end;
  align-items: end;
  margin-left: 15px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 30px;
  padding-top: 30px;
}

.nuestrasredes {
  font-size: 22px;
  padding-left: 5%;
}

.whatsapp, .facebook, .instagram, .youtube {
  width: 35px;
  padding-left: 10px;
}

.new-piepagina {
  margin: 5px 5px 0px 35%;
  margin-top: 5px;
  font-size: 20px;
}

.boton-enviar-home {
  width: 70px;
  height: 28px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
}

.input-correo {
  width: 300px;
  height: 35px;
}

.perfumes-clases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.givenchy, .givenchym, .calvin-categoria {
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid-container2 {
  /*Box-modeling*/
  width: 100%;
  max-width: 1900px;
  padding-top: 50px;
  background-color: #000;
  color: #fff;
  /*Tipografia*/
  font-family: "fuente principal";
  font-size: 15px;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 425px 425px 425px 425px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.perfume-hombre-mujer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: solid;
  padding: 0px 20px 0px 20px;
}

.perf-hombre, .perf-mujer, .perf-unisex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: #20c997;
  transform: translate(82%, 50%);
}

.contenedor-titulo-perfumes {
  transform: translateY(-6%);
}

.contenedor-perfumes {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.titulo-perfumes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
  margin-right: 40%;
}

.parrafo-perfumes, .parrafo-perfumes2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 20%;
}

.perfumes-grilla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
}

.dol-gab-grilla, .dol-gab-grilla1, .dol-gab-grilla2, .dol-gab-grilla3, .azzaro-most-grilla4, .dol-gab-grilla5, .dol-gab-grilla6, .dol-gab-grilla7, .dol-gab-grilla8, .dol-gab-grilla9, .dol-gab-grilla10, .dol-gab-grilla11, .dol-gab-grilla12, .dol-gab-grilla13, .dol-gab-grilla14, .dol-gab-grilla15, .dol-gab-grilla16, .dol-gab-grilla17, .dol-gab-grilla18, .dol-gab-grilla19 {
  width: 150px;
}

.titulo-grilla {
  font-size: 15px;
  font-weight: 700;
}

.cuotas-grilla {
  font-weight: 500;
}

/*CSS GRID PRACTICA*/
.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px 50px 0px;
}

.grid-container > div {
  /*Box-modeling*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: "fuente-principal";
}

.grid-container {
  /*Box-modeling*/
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 250px 250px 250px 250px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.chanel-marcas {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
}

.giorgio-marcas {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

.clinique-marcas {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.kera-marcas {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dior-marcas {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.given-marcas-grilla {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.yvessaint-marcas, .carolina-marcas {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.calvin-marcas, .mugler-marcas {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.bvlgari-marcas {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.estee-marcas, .loewe-marcas {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hermes-marcas {
  font-size: 25px;
  font-family: "Playfair-fuente";
}

.paco-marcas {
  font-size: 25px;
  font-family: "Merryweather";
}

.lancome-marcas, .guerlain-marcas, .mac-marcas, .tom-marcas {
  font-size: 25px;
  font-family: "fuente-principal3";
}

.marcas-a-z {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(250%);
}

.letras {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 3px;
}

.marcas-a, .marcas-b, .marcas-c, .marcas-d, .marcas-e, .marcas-f, .marcas-g, .marcas-h, .marcas-i, .marcas-j, .marcas-k, .marcas-l, .marcas-m, .marcas-n, .marcas-o, .marcas-p, .marcas-r, .marcas-s, .marcas-t, .marcas-v, .marcas-w, .marcas-y {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding: 5px 0px 5px 0px;
  margin: 5px;
}

.h4a, .h4b, .h4c, .h4d, .h4e, .h4f, .h4g, .h4h, .h4i, .h4j, .h4k, .h4l, .h4m, .h4n, .h4o, .h4p, .h4r, .h4s, .h4t, .h4v, .h4w, .h4y {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0px 0px 50px;
  font-size: 45px;
}

.adolf, .agatha, .alejandro, .alfap, .antban, .arex, .armani, .azzaro, .basiccare, .benetton, .beter, .biotherm, .burberry, .bvlgari, .cacharel, .cal-klein-marcas, .carlos-benaim, .caro-cuore, .chanel, .chloe, .clinique, .compagnie-de-provence, .davidoff, .diesel, .dior, .dior-backstage, .dolce-gabbana-marcas, .dsquared, .elie-saab, .ermenegildo-zegna, .estee-lauder, .fabyoulous, .gama, .gino-bogani, .givenchy-marcas, .gucci, .guerlain-marcas, .halloween, .hermes, .hugoboss, .issey, .karite, .jeanpaul, .arthes, .provence, .jimmy, .karl, .kenzo, .kerastase, .kevin, .klorane, .loreal, .lamer, .laprairie, .lancome-marcas, .guerlain-marcas, .mac-marcas, .tom-marcas, .lanvin, .loewe-marcas, .lorealprof, .mac, .marcjacobs, .marinade, .max, .maybelline, .mercedes, .michaelkors, .molyneux, .monotheme, .montblanc, .moschino, .mugler-marcas, .narciso-rodriguez, .ninaricci, .opi, .paco-marcas, .paloma-herrera, .paula-marcas, .payot, .pepe, .petit-enfant, .pino-silvestre, .police, .prune, .ralph, .reebok, .replay, .rimmel, .rochas, .sally, .sebastian, .shakira, .shiseido, .solinotes, .chemist, .tiffany, .ford-marcas, .versace-marcas, .viktor, .women, .yves-marcas {
  padding: 25px 0px 0px 50px;
}

.marcas-contpadre1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 7%;
}

.contenedor {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 15%;
  transform: translateY(-35%);
}

.mapa {
  width: 25%;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
}

.iframesucur {
  width: 80%;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}

.titulo-sucursal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

h2 {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 37%;
  color: #000;
}

.ayuda-contacto {
  color: #000;
}

.div-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-right: 35%;
  color: #000;
}

.contacto-h {
  padding-top: 50px;
}

.contenedor-contacto {
  transform: translateY(-75%);
}

.p-contacto {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
}


.bodycarrito {
  font-family: 'Times New Roman', Times, serif;
  background-color: #638ccc;
  padding-top: 80px;
}

.titulo-carrito {
  font-family: "Playfair-fuente";
  text-align: center;
  margin: 30px 0px;
}

.img-carrito1, .img-carrito2 {
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.headercarrito {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  height: 70px;
  top: 0;
  position: fixed;
  width: 100%;
}

.carrito {
  filter: invert(100%);
  width: 45px;
  transform: translate(2100%,-170%);
}

.contenedorcarrito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}

.contenedor-carrito>div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #2D4263;
  border-radius: 20px;
}

.contenedor-carrito>div:hover{
  background-color: #11294d;
}

.informacion {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.informacion>p:first-child {
  font-family: "Merryweather";
  font-size: 25px;
  font-weight: 300;
}

.informacion .precio-producto1 {
  font-size: 20px;
  font-weight: 500;
}

.informacion .boton-carrito {
  background-color: #ffffff;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  
  font-size: 17px;
  font-weight: 300px;
  cursor: pointer;
}

.informacion .boton-carrito:hover {
  background-color: #f1f3f7;
}

.scroll {
  background-color: aliceblue;
  box-shadow: .1rem .2rem .3rem #333;
}

.scroll .carrito {
  filter: invert(15%);
}

.scroll .titulo-carrito {
  color: #141C29;
}

/*Pseudoclases*/
/*a:hover {
  background-color: #977f7f69;
}
*/
/*a:active {
  background-color: #977f7f69;
  color: #fff;
}
*/
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid {
    font-size: 20px;
  }
  .boton-enviar {
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    font-family: "fuente-principal";
    border-radius: 100px;
    background-color: #6610f2;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @keyframes boton-comprar-anime {
    0% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
  /*.boton-comprar {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 150px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  */
  .ben-prom, .titulo-sucursales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 15%;
    background-color: #6610f2;
  }
  .boton-dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin: 10px;
    margin-left: 20px;
    border-radius: 100px;
    width: 100px;
    font-family: "fuente-principal";
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
    height: auto;
  }
  .flexi-container-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    margin-left: 15%;
  }
  .caj-c1, .caj-c2, .caj-c3, .caj-c4, .caj-c5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 25px;
  }
  .bbvafrances, .icbc, .modo, .santander, .american {
    width: 110px;
  }
  .boton-comprar-padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
  }
  .boton-borrar {
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    font-family: "fuente-principal";
    border-radius: 100px;
    background-color: #6610f2;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .vermas-boton-padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .vermaspro-home {
    width: 270px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carrusel-perfumes {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: 20px;
  }
  .elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: #000;
    width: 400px;
    height: 400px;
  }
  .azzaro-carrusel, .chrome-carrusel, .calvin-carrusel, .carolina-carrusel, .dior-carrusel, .pacorabanne-carrusel, .tom-carrusel, .dolce-carrusel, .yves-carrusel, .invictus-carrusel {
    width: 400px;
    height: 400px;
  }
  .new-arriwals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .invictus, .tom-ford, .dolce-gabbana, .given-mujer, .given-intense {
    width: 300px;
  }
  .versace-dos, .calvin-klein, .dior-seiscuotas, .azzaro-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .contenedor-yvessaint, .contenedor-jeanpaul {
    display: flex;
    justify-content: start;
  }
  .iframe-yvessaint {
    width: 450px;
    height: 300px;
    margin-bottom: 10px;
  }
  .img-yvessaint, .img-jeanpaul, .img-jeanpaul2 {
    width: 250px;
    margin-left: auto;
  }
  .yvessaint-contenedor, .jeanpaul-contenedor, .jeanpaul-contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
  }
  .titulo-yvessaint, .titulo-jeanpaul, .titulo-jeanpaul2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cuotas-yvessaint, .cuotas-jeanpaul, .cuotas-jeanpaul2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  .azzaro-publi-tamano, .carolina-publi-tamano, .versace-publi-tamano, .azzaro-puor-publi-tamano {
    width: 350px;
  }
  .container-azzaro, .container-carolina, .container-versace, .container-azzaro-puor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 50px 0px 50px 20px;
  }
  .azzaro-publi, .carolina-publi, .versace-publi, .azzaro-puor-publi {
    /*Posición de los botones*/
    color: #000;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 150px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Creed-fondo {
    background-image: url("Creed Fondo tres 1600 cortado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  .creed-fondo-mediaq {
    width: 1024px;
  }
  .Azzaro-Fondo {
    background-image: url("Azzaro Fondo Web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  .azzaro-fondo-mediaq {
    width: 1000px;
  }
  .cuotas-azzaro-pie {
    color: #000;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 150px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cuotas-creed-home {
    color: #000;
    position: absolute;
    top: 45%;
    left: 82%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .azzaro-imagen-texto {
    color: #000;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  .creed-imagen-texto {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .comprar-cuotas-azzaro {
    color: #000;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .comprar-cuotas-creed {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 18%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .muestra-azzaro {
    color: #fff;
    position: absolute;
    top: 77%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .muestra-creed {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .card-position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin-left: 40px;
  }
  .boton-tarjeta {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
  }
  .card {
    position: relative;
    width: 300px;
    height: 350px;
  }
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  .card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  .card .back .link a {
    color: #f3f3f3;
  }
  .card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .card .back p {
    letter-spacing: 1px;
  }
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .pour, .eros, .blue, .ckblanco, .ckbotella, .cknegro, .dior-addict, .dior-homme, .dior-sport, .azzaro-chrome, .azzaro-themost, .azzaro-tres {
    width: 200px;
    margin-left: 5%;
  }
  iframe {
    width: 25%;
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
    align-items: end;
    margin-left: 15px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .nuestrasredes {
    font-size: 22px;
    padding-left: 5%;
  }
  .whatsapp, .facebook, .instagram, .youtube {
    width: 35px;
    padding-left: 10px;
  }
  .new-piepagina {
    margin: 5px 5px 0px 12%;
    margin-top: 5px;
    font-size: 20px;
  }
  .boton-enviar-home {
    width: 70px;
    height: 28px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
  }
  .input-correo {
    width: 300px;
    height: 35px;
  }
  .perfumes-clases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .givenchy, .givenchym, .carolinah {
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid;
  }
  .grid-container2 {
    /*Box-modeling*/
    width: 100%;
    max-width: 1900px;
    padding-top: 50px;
    background-color: #000;
    color: #fff;
    /*Tipografia*/
    font-family: "fuente principal";
    font-size: 15px;
    /*Activamos GRID*/
    display: grid;
    /*definimos la cantidad de filas y el alto de las mismas*/
    grid-template-columns: 180px 180px 180px 180px;
    /*definimos la cantidad de columnas y el anchode las mismas*/
  }
  .perfume-hombre-mujer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    padding: auto;
  }
  .perf-hombre, .perf-mujer, .perf-unisex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: #0dcaf0;
  }
  .menu-perfumes-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .contenedor-titulo-perfumes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0.5%);
  }
  .contenedor-perfumes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .titulo-perfumes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 20%;
  }
  .parrafo-perfumes, .parrafo-perfumes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }
  .perfumes-grilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }
  .dol-gab-grilla, .dol-gab-grilla1, .dol-gab-grilla2, .dol-gab-grilla3, .azzaro-most-grilla4, .dol-gab-grilla5, .dol-gab-grilla6, .dol-gab-grilla7, .dol-gab-grilla8, .dol-gab-grilla9, .dol-gab-grilla10, .dol-gab-grilla11, .dol-gab-grilla12, .dol-gab-grilla13, .dol-gab-grilla14 {
    width: 150px;
  }
  .titulo-grilla {
    font-size: 15px;
    font-weight: 700;
  }
  .cuotas-grilla {
    font-weight: 500;
  }
  /*CSS GRID PRACTICA*/
  .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0px 50px 0px;
  }
  .grid-container > div {
    /*Box-modeling*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px;
    overflow: hidden;
    font-family: "fuente-principal";
  }
  .grid-container {
    /*Box-modeling*/
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /*Activamos GRID*/
    display: grid;
    /*definimos la cantidad de filas y el alto de las mismas*/
    grid-template-columns: 220px 220px 220px;
    /*definimos la cantidad de columnas y el anchode las mismas*/
  }
  .letras {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
  .marcas-a, .marcas-b, .marcas-c, .marcas-d, .marcas-e, .marcas-f, .marcas-g, .marcas-h, .marcas-i, .marcas-j, .marcas-k, .marcas-l, .marcas-m {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 20px 0px 20px 0px;
    margin: 20px;
  }
  .h4a, .h4b, .h4c, .h4d, .h4e, .h4f, .h4g, .h4h, .h4i, .h4j, .h4k, .h4l, .h4m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px 0px 50px;
  }
  .adolf, .agatha, .alejandro, .alfap, .antban, .arex, .armani, .azzaro, .basiccare, .benetton, .beter, .biotherm, .burberry, .bvlgari, .cacharel, .cal-klein-marcas, .carlos-benaim, .caro-cuore, .chanel, .chloe, .clinique, .compagnie-de-provence, .davidoff, .diesel, .dior, .dior-backstage, .dolce-gabbana-marcas, .dsquared, .elie-saab, .ermenegildo-zegna, .estee-lauder, .fabyoulous, .gama, .gino-bogani, .givenchy-marcas, .gucci, .guerlain-marcas, .halloween, .hermes, .hugoboss, .issey, .karite, .jeanpaul, .arthes, .provence, .jimmy, .karl, .kenzo, .kerastase, .kevin, .klorane, .loreal, .lamer, .laprairie, .lancome-marcas, .mac-marcas, .tom-marcas, .lanvin, .loewe-marcas, .lorealprof, .mac, .marcjacobs, .marinade, .max, .maybelline, .mercedes, .michaelkors, .molyneux, .monotheme, .montblanc, .moschino, .mugler-marcas {
    padding: 25px 0px 0px 50px;
  }
  .marcas-contpadre1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contenedor {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
    transform: translateY(0.5%);
  }
  .mapa {
    width: 100%;
    margin: 10px;
    padding: 10px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }
  .iframesucur {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
  }
  .titulo-sucursal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    color: #000;
  }
  .ayuda-contacto {
    color: #000;
  }
  .div-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    color: #000;
  }
  .contacto-h {
    padding-top: 50px;
  }
  .p-contacto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
  }
  /*Pseudoclases*/
  /*a:hover {
    background-color: #977f7f69;
  }
  */
  /*a:active {
    background-color: #977f7f69;
    color: #fff;
  }
  */
  a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color: #000;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    font-size: 20px;
  }
  .boton-enviar {
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    font-family: "fuente-principal";
    border-radius: 100px;
    background-color: #6610f2;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @keyframes boton-comprar-anime {
    0% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
  /*.boton-comprar {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 150px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  */
  .ben-prom, .titulo-sucursales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    margin-top: 50px;
    background-color: #6610f2;
  }
  .boton-dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin: 10px;
    margin-left: 20px;
    border-radius: 40px;
    width: 45px;
    font-family: "fuente-principal";
    font-size: 8px;
    background-color: #000;
    color: #fff;
    padding: 5px;
  }
  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
    height: auto;
  }
  .flexi-container-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 15px 0px;
    margin: 40px;
    height: auto;
  }
  .caj-c1, .caj-c2, .caj-c3, .caj-c4, .caj-c5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
  .bbvafrances, .icbc, .modo, .santander, .american {
    width: 150px;
  }
  .boton-comprar-padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
  }
  .boton-borrar {
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    font-family: "fuente-principal";
    border-radius: 100px;
    background-color: #6610f2;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .vermas-boton-padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .vermaspro-home {
    width: 230px;
    height: 25px;
    font-size: 12px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .carrusel-perfumes {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    margin-top: auto;
  }
  .elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    background-color: #000;
    width: 200px;
    height: 200px;
  }
  .azzaro-carrusel, .chrome-carrusel, .calvin-carrusel, .carolina-carrusel, .dior-carrusel, .pacorabanne-carrusel, .tom-carrusel, .dolce-carrusel, .yves-carrusel, .invictus-carrusel {
    width: 200px;
    height: 200px;
  }
  .new-arriwals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .new-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invictus, .tom-ford, .dolce-gabbana, .given-mujer, .given-intense {
    width: 200px;
  }
  .versace-dos, .calvin-klein, .dior-seiscuotas, .azzaro-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-yvessaint, .contenedor-jeanpaul {
    display: flex;
    justify-content: start;
  }
  .iframe-yvessaint {
    width: 150px;
    height: 300px;
    margin-bottom: 10px;
  }
  .img-yvessaint, .img-jeanpaul, .img-jeanpaul2 {
    width: 100px;
    margin-left: auto;
  }
  .yvessaint-contenedor, .jeanpaul-contenedor, .jeanpaul-contenedor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
  }
  .titulo-yvessaint, .titulo-jeanpaul, .titulo-jeanpaul2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cuotas-yvessaint, .cuotas-jeanpaul, .cuotas-jeanpaul2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .azzaro-publi-tamano, .carolina-publi-tamano, .versace-publi-tamano, .azzaro-puor-publi-tamano {
    width: 250px;
  }
  .container-azzaro, .container-carolina, .container-versace, .container-azzaro-puor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-left: 50px;
  }
  .azzaro-publi, .carolina-publi, .versace-publi, .azzaro-puor-publi {
    /*Posición de los botones*/
    color: #000;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    border-radius: 150px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Creed-fondo {
    background-image: url("Creed Fondo tres 1600 cortado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  .creed-fondo-mediaq {
    width: 350px;
  }
  .Azzaro-Fondo {
    background-image: url("Azzaro Fondo Web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: auto;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  .azzaro-fondo-mediaq {
    width: 350px;
  }
  .cuotas-azzaro-pie {
    color: #000;
    position: absolute;
    top: 75%;
    left: 82%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 40px;
    height: 30px;
    font-size: 8px;
    font-weight: 100;
    border-radius: 80px;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cuotas-creed-home {
    color: #000;
    position: absolute;
    top: 28%;
    left: 82%;
    transform: translate(-50%, -50%);
    /*Personalización de los botones*/
    width: 40px;
    height: 30px;
    font-size: 8px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .azzaro-imagen-texto {
    font-size: 8px;
    color: #000;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  .creed-imagen-texto {
    font-size: 10px;
    font-weight: 600;
    color: #000;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .comprar-cuotas-azzaro {
    font-size: 8px;
    color: #000;
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .comprar-cuotas-creed {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: 22%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .muestra-azzaro {
    font-size: 8px;
    color: #fff;
    position: absolute;
    top: 77%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .muestra-creed {
    font-size: 8px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
  .card-position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin-left: 40px;
  }
  .boton-tarjeta {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 32%;
  }
  .card {
    position: relative;
    width: 200px;
    height: 250px;
  }
  .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
  }
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  .card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  .card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  .card .back .link a {
    color: #f3f3f3;
  }
  .card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .card .back p {
    letter-spacing: 1px;
  }
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  .pour, .eros, .blue, .ckblanco, .ckbotella, .cknegro, .dior-addict, .dior-homme, .dior-sport, .azzaro-chrome, .azzaro-themost, .azzaro-tres {
    width: 200px;
    margin-left: 10px;
  }
  iframe {
    width: 25%;
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
    align-items: end;
    margin-left: 15px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: auto;
    padding-top: auto;
  }
  .nuestrasredes {
    font-size: 12px;
    padding-left: 5%;
  }
  .whatsapp, .facebook, .instagram, .youtube {
    width: 30px;
    padding-left: 10px;
  }
  .new-piepagina {
    margin: 15px;
    margin-top: 15px;
    font-size: 20px;
  }
  .boton-enviar-home {
    width: 70px;
    height: 28px;
    font-size: 15px;
    font-weight: 100;
    font-family: "fuente-principal";
    background-color: #000;
    color: #fff;
  }
  .input-correo {
    width: 200px;
    height: auto;
  }
  .perfumes-clases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .givenchy, .givenchym, .carolinah {
    margin-left: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid;
  }
  .grid-container2 {
    /*Box-modeling*/
    width: 100%;
    max-width: 768px;
    padding-top: auto;
    margin: auto;
    background-color: #000;
    color: #fff;
    /*Tipografia*/
    font-family: "fuente principal";
    font-size: 15px;
    /*Activamos GRID*/
    display: flex;
    /*definimos la cantidad de filas y el alto de las mismas*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*definimos la cantidad de columnas y el anchode las mismas*/
  }
  .h6-contacto {
    padding-top: 20px;
  }
  .perfume-hombre-mujer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    padding: auto;
  }
  .perf-hombre, .perf-mujer, .perf-unisex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: #0dcaf0;
  }
  .menu-perfumes-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .contenedor-titulo-perfumes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0.5%);
  }
  .contenedor-perfumes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .titulo-perfumes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 25%;
  }
  .parrafo-perfumes, .parrafo-perfumes2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
  }
  .perfumes-grilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }
  .dol-gab-grilla, .dol-gab-grilla1, .dol-gab-grilla2, .dol-gab-grilla3, .azzaro-most-grilla4, .dol-gab-grilla5, .dol-gab-grilla6, .dol-gab-grilla7, .dol-gab-grilla8, .dol-gab-grilla9, .dol-gab-grilla10, .dol-gab-grilla11, .dol-gab-grilla12, .dol-gab-grilla13, .dol-gab-grilla14 {
    width: 150px;
  }
  .titulo-grilla {
    font-size: 15px;
    font-weight: 700;
  }
  .cuotas-grilla {
    font-weight: 500;
  }
  /*CSS GRID PRACTICA*/
  .encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
  }
  .grid-container > div {
    /*Box-modeling*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px;
    overflow: hidden;
    font-family: "fuente-principal";
  }
  .grid-container {
    /*Box-modeling*/
    width: 90%;
    max-width: 1000px;
    margin-left: 17%;
    /*Activamos GRID*/
    display: grid;
    /*definimos la cantidad de filas y el alto de las mismas*/
    grid-template-columns: 250px;
    /*definimos la cantidad de columnas y el anchode las mismas*/
  }
  .letras {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .marcas-a, .marcas-b, .marcas-c, .marcas-d, .marcas-e, .marcas-f, .marcas-g, .marcas-h, .marcas-i, .marcas-j, .marcas-k, .marcas-l, .marcas-m {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 20px 0px 20px 0px;
    margin: 20px;
  }
  .h4a, .h4b, .h4c, .h4d, .h4e, .h4f, .h4g, .h4h, .h4i, .h4j, .h4k, .h4l, .h4m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px 0px 50px;
  }
  .adolf, .agatha, .alejandro, .alfap, .antban, .arex, .armani, .azzaro, .basiccare, .benetton, .beter, .biotherm, .burberry, .bvlgari, .cacharel, .cal-klein-marcas, .carlos-benaim, .caro-cuore, .chanel, .chloe, .clinique, .compagnie-de-provence, .davidoff, .diesel, .dior, .dior-backstage, .dolce-gabbana-marcas, .dsquared, .elie-saab, .ermenegildo-zegna, .estee-lauder, .fabyoulous, .gama, .gino-bogani, .givenchy-marcas, .gucci, .guerlain-marcas, .halloween, .hermes, .hugoboss, .issey, .karite, .jeanpaul, .arthes, .provence, .jimmy, .karl, .kenzo, .kerastase, .kevin, .klorane, .loreal, .lamer, .laprairie, .lancome-marcas, .mac-marcas, .tom-marcas, .lanvin, .loewe-marcas, .lorealprof, .mac, .marcjacobs, .marinade, .max, .maybelline, .mercedes, .michaelkors, .molyneux, .monotheme, .montblanc, .moschino, .mugler-marcas {
    padding: 25px 0px 0px 50px;
  }
  .marcas-contpadre1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .contenedor {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
    transform: translateY(0.5%);
  }
  .mapa {
    width: 100%;
    margin: 10px;
    padding: 10px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }
  .iframesucur {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
  }
  .titulo-sucursal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    color: #000;
  }
  .ayuda-contacto {
    color: #000;
  }
  .div-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    color: #000;
  }
  .contacto-h {
    padding-top: 50px;
  }
  .p-contacto {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
  }
  /*Pseudoclases*/
  /*a:hover {
    background-color: #977f7f69;
  }
  */
  /*a:active {
    background-color: #977f7f69;
    color: #fff;
  }
  */
  a {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color: #000;
  }
}


/*# sourceMappingURL=estilos.css.map */
