@charset "UTF-8";
/*
@import "colores"
@import "navegacion"
@import "fuentes"
@import "footer"
*/
/*Variables globales*/
/*
$relleno: 20px;
$fuente-principal: arial, helvetica, sans-serif;
$color-primario: blue;
$color-secundario: #e9e91e;

/*Mixins o funciones*/
/*mixin sin parametros*/
/*@mixin crearBordes($colorBorde,$tamanio,$colorBorde) {
    border: $tamanio solid $colorBorde;
    border-radius: $tamanio;
    background-color: $colorBorde;
}

.principal {
    @include crearBordes();
}*/
/*body {
    background-color: $color-primario;

    operaciones matematicas + - / *
    padding: ($relleno + 100 * 10;
}
*/
/* Personalizar varias etiquetas

  nav ul ui a {
      background-color : #000
  }

  nav {
    background color: red
      }
        ul {
          life-style-type: none;
        }
         li {
    }
           a {
}

*/
/*Condicionales IF*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if (color-home == blue){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($color-home == red) {
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if ($ancho > 50px){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($ancho >=100px ){
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*Bucle p ciclo FOR (ciclo exacto)*/
/*
$i: 1;

@for $i from 1 through 6 {

}

*/
/*Bucle o ciclo each*/
/*inicializamos la variable o array*/
/* 
$lista1; red, green, yellow, blue;

@each $color in $lista1 {
  background-color: $color;
  }
}

*/
/*Selector Reset o Universal*/

* {
  margin: 0;
  padding: 0;
}

/*Tipografia*/
/*fuente local*/
@font-face {
  font-family: "fuente-principal";
  src: url(../Fuentes/Roboto-Medium.ttf);
}

.container-fluid {
  font-size: 20px;
}

.fondo-creed {
  background-color: #000;
}

.arrow-left-icon {
  width: 30px;
}

.arrow-right-icon {
  width: 30px;
}

.creed-perfumes, .creed-botellas, .creed-varios {
  width: 30%;
  margin-left: 30px;
}

.creed-cuotas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.boton-enviar {
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  font-family: "fuente-principal";
  border-radius: 100px;
  background-color: #6610f2;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes boton-comprar-anime {
  0% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.boton-comprar {
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  border-radius: 150px;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ben-prom, .titulo-sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin-top: 50px;
  background-color: #6610f2;
}

.boton-dias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;

}

.todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
  margin: 10px;
  margin-left: 20px;
  border-radius: 100px;
  width: 100px;
  font-family: "fuente-principal";
  font-size: 15px;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.flexi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid #000;
  padding: 15px 0px 20px 0px;
  margin: 50px;
  height: 400px;
}

.flexi-container-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px 20px 0px;
  margin: 50px;
  height: 400px;
}

.caj-c1, .caj-c2, .caj-c3, .caj-c4, .caj-c5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.bbvafrances, .icbc, .modo, .santander, .american {
  width: 200px;
}

.boton-comprar-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

.boton-borrar {
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  font-family: "fuente-principal";
  border-radius: 100px;
  background-color: #6610f2;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vermas-boton-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.vermaspro-home {
  width: 270px;
  height: 30px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carrusel-perfumes {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
  background-color: #000;
  width: 300px;
  height: 300px;
}

.azzaro-carrusel, .chrome-carrusel, .calvin-carrusel, .carolina-carrusel, .dior-carrusel, .pacorabanne-carrusel, .tom-carrusel, .dolce-carrusel, .yves-carrusel, .invictus-carrusel {
  width: 300px;
  height: 300px;
}

.new-arriwals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.invictus, .tom-ford, .dolce-gabbana, .given-mujer, .given-intense {
  width: 300px;
}

.versace-dos, .calvin-klein, .dior-seiscuotas, .azzaro-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pour, .eros, .blue, .ckblanco, .ckbotella, .cknegro, .dior-addict, .dior-homme, .dior-sport, .azzaro-chrome, .azzaro-themost, .azzaro-tres {
  width: 300px;
  margin-left: 15px;
}

iframe {
  width: 25%;
  display: flex;
  padding-top: 25px;
  justify-content: flex-end;
  align-items: end;
  margin-left: 15px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 30px;
  padding-top: 30px;
}

.nuestrasredes {
  font-size: 22px;
  padding-left: 5%;
}

.whatsapp, .facebook, .instagram, .youtube {
  width: 35px;
  padding-left: 10px;
}

.new-piepagina {
  margin: 5px 5px 0px 35%;
  margin-top: 5px;
  font-size: 20px;
}

.boton-enviar-home {
  width: 70px;
  height: 28px;
  font-size: 15px;
  font-weight: 100;
  font-family: "fuente-principal";
  background-color: #000;
  color: #fff;
}

.input-correo {
  width: 300px;
  height: 35px;
}

.perfumes-clases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.givenchy, .givenchym, .carolinah {
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid;
}

.grid-container2 {
  /*Box-modeling*/
  width: 100%;
  max-width: 1900px;
  padding-top: 50px;
  background-color: #000;
  color: #fff;
  /*Tipografia*/
  font-family: "fuente principal";
  font-size: 15px;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 425px 425px 425px 425px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.perfume-hombre-mujer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: solid;
  padding: 0px 20px 0px 20px;
}

.perf-hombre, .perf-mujer, .perf-unisex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: #0dcaf0;
}

.contenedor-perfumes {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  width: 70%;
  margin-left: 28%;
}

.perfumes-grilla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
}

.dol-gab-grilla, .dol-gab-grilla1, .dol-gab-grilla2, .dol-gab-grilla3, .azzaro-most-grilla4, .dol-gab-grilla5, .dol-gab-grilla6, .dol-gab-grilla7, .dol-gab-grilla8, .dol-gab-grilla9, .dol-gab-grilla10, .dol-gab-grilla11, .dol-gab-grilla12, .dol-gab-grilla13, .dol-gab-grilla14 {
  width: 150px;
}

.titulo-grilla {
  font-size: 15px;
  font-weight: 700;
}

.cuotas-grilla {
  font-weight: 500;
}

/*CSS GRID PRACTICA*/
.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px 50px 0px;
}

.grid-container > div {
  /*Box-modeling*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px;
  overflow: hidden;
  font-family: "fuente-principal";
}

.grid-container {
  /*Box-modeling*/
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 250px 250px 250px 250px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.letras {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.marcas-a, .marcas-b, .marcas-c, .marcas-d, .marcas-e, .marcas-f, .marcas-g {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 20px 0px 20px 0px;
  margin: 20px;
}

.h4a, .h4b, .h4c, .h4d, .h4e, .h4f, .h4g {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0px 0px 50px;
}

.adolf, .agatha, .alejandro, .alfap, .antban, .arex, .armani, .azzaro, .basiccare, .benetton, .beter, .biotherm, .burberry, .bvlgari, .cacharel, .cal-klein-marcas, .carlos-benaim, .caro-cuore, .chanel, .chloe, .clinique, .compagnie-de-provence, .davidoff, .diesel, .dior, .dior-backstage, .dolce-gabbana-marcas, .dsquared, .elie-saab, .ermenegildo-zegna, .estee-lauder, .fabyoulous, .gama, .gino-bogani, .givenchy-marcas, .gucci , .guerlain-marcas {
  padding: 25px 0px 0px 50px;
}

.marcas-contpadre1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mapa {
  width: 25%;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
  margin-top: 100px;
}

.iframesucur {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 37%;
  color: #fff;
}

.ayuda-contacto {
  color: #fff;
}

.div-input {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-right: 35%;
  color: #fff;
}

.contacto-h {
  padding-top: 50px;
}

.fondo-contacto {
  background-image: url(https://www.xtrafondos.com/descargar.php?id=7078&resolucion=3840x2160);
  background-size: cover;
}

.p-contacto {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #fff;
}


a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

/*Pseudoclases*/

/*a:hover {
  background-color: #977f7f69;
}
*/

/*a:active {
  background-color: #977f7f69;
  color: #fff;
}
*/



/*@media screen and (min-width: 1201px) {
  
  .flexi-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin-left: auto;
    border-radius: 100px;
    width: 100px;
    font-family: "fuente-principal";
    font-size: 15px;
    background-color: #000;
    color: #fff;
  }

  .boton-dias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .new-arriwals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flexi-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
  }

  .versace-dos, .calvin-klein, .dior-seiscuotas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid-container2 {
    width: 100%;
    max-width: 1900px;
    padding-top: 50px;
    background-color: #000;
    color: #fff;
    font-family: "fuente principal";
    font-size: 15px;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
  }
}
*/


/*@media screen and (min-width: 768px) and (max-width: 1200px) {
  
  .flexi-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin-left: auto;
    border-radius: 100px;
    width: 100px;
    font-family: "fuente-principal";
    font-size: 15px;
    background-color: #000;
    color: #fff;
  }

  .boton-dias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .new-arriwals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flexi-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
  }

  .versace-dos, .calvin-klein, .dior-seiscuotas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid-container2 {
    width: 100%;
    max-width: 1900px;
    padding-top: 50px;
    background-color: #000;
    color: #fff;
    font-family: "fuente principal";
    font-size: 15px;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
  }
}
*/


/*@media screen and (min-width: 768px) and (max-width: 1200px) {
  
  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: auto;
    margin: auto;
    height: auto;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin-left: auto;
    border-radius: 100px;
    width: 100px;
    font-family: "fuente-principal";
    font-size: 15px;
    background-color: #000;
    color: #fff;
  }

  .boton-dias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
  }

  .new-arriwals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
  }

  .versace-dos, .calvin-klein, .dior-seiscuotas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-container2 {
    width: 100%;
    max-width: 1900px;
    padding-top: 50px;
    background-color: #000;
    color: #fff;
    font-family: "fuente principal";
    font-size: 15px;
    display: grid;
    grid-template-columns: 190px 190px 190px 190px;
  }

  .contenedor-perfumes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .perfumes-grilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 10px;
    padding: 20px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }

  .perfumes-clases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .perfume-hombre-mujer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    padding: 0px 20px 0px 20px;
  }

  .categoria-perfumes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 270px;
  }
*/


 /* .grid-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px;
    overflow: hidden;
    font-family: "fuente-principal";
  }

  */
  
@media screen and (max-width: 767px) {
  
  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: auto;
    margin: auto;
    height: auto;
  }
  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin-left: auto;
    border-radius: 100px;
    width: 100px;
    font-family: "fuente-principal";
    font-size: 15px;
    background-color: #000;
    color: #fff;
  }

  .boton-dias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .new-arriwals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: 15px 0px 20px 0px;
    margin: 50px;
  }

  .versace-dos, .calvin-klein, .dior-seiscuotas, .azzaro-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .contenedor-perfumes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .perfumes-grilla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 10px;
    padding: 20px;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px #000;
    overflow: hidden;
  }

  .perfumes-clases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .perfume-hombre-mujer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: solid;
    padding: 0px 20px 0px 20px;
  }

  .categoria-perfumes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 270px;
  }

  .grid-container > div {
    /*Box-modeling*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    background: transparent;
    border: 2px solid;
    box-shadow: 0 0 30px;
    overflow: hidden;
    font-family: "fuente-principal";
  }
  
  .grid-container {
    /*Box-modeling*/
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /*Activamos GRID*/
    display: grid;
    /*definimos la cantidad de filas y el alto de las mismas*/
    grid-template-columns: 180px 180px 180px 180px;
    /*definimos la cantidad de columnas y el anchode las mismas*/
  }

  .marcas-contpadre1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 250px;
  }
}


/*# sourceMappingURL=estilos.css.map */
