@charset "UTF-8";
/*
@import "colores"
@import "navegacion"
@import "fuentes"
@import "footer"
*/
/*Variables globales*/
$indigo-400: #6610f2;
$cyan-500: #0dcaf0;
$relleno: 15px;
$fuente-principal: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*
$relleno: 20px;
$fuente-principal: arial, helvetica, sans-serif;
$color-primario: blue;
$color-secundario: #e9e91e;

/*Mixins o funciones*/
/*mixin sin parametros*/
/*@mixin crearBordes($colorBorde,$tamanio,$colorBorde) {
    border: $tamanio solid $colorBorde;
    border-radius: $tamanio;
    background-color: $colorBorde;
}

.principal {
    @include crearBordes();
}*/
/*body {
    background-color: $color-primario;

    operaciones matematicas + - / *
    padding: ($relleno + 100 * 10;
}
*/
/* Personalizar varias etiquetas

  nav ul ui a {
      background-color : #000
  }

  nav {
    background color: red
      }
        ul {
          life-style-type: none;
        }
         li {
    }
           a {
}

*/
/*Condicionales IF*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if (color-home == blue){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($color-home == red) {
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*
$color-home : red;
$ancho: 100px;

#barra-navegacion {
  @if ($ancho > 50px){
    background-color: green;
    color: #000
    width: 100%;
  } @else if ($ancho >=100px ){
   background-color: red;
  }
  @ else {
    background-color: pink;
  }
}

*/
/*Bucle p ciclo FOR (ciclo exacto)*/
/*
$i: 1;

@for $i from 1 through 6 {

}

*/
/*Bucle o ciclo each*/
/*inicializamos la variable o array*/
/* 
$lista1; red, green, yellow, blue;

@each $color in $lista1 {
  background-color: $color;
  }
}

*/
/*Selector Reset o Universal*/
* {
  margin: 0;
  padding: 0;
}

/*Tipografia*/
/*fuente local*/
@font-face {
  font-family: "fuente-principal";
  src: url(../Fuentes/Roboto-Medium.ttf);
}

/*Selector de tipo ID*/
/*Propiedad*/
/*.imglogo {
  width: 70px;
  padding-left: 70px;
  padding-bottom: 15px;
  padding-top: 18px;
}
*/

/*.home, .perfumes, .marcas, .promociones, .sucursales, .contacto {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}
*/

.container-fluid {
  font-size: 20px;
}

.fondo-creed {
  background-color: #000;
}

.creed-perfumes, .creed-botellas, .creed-varios {
  width: 30%;
  margin-left: 30px;
}

.creed-cuotas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.boton-comprar {
  width: 100px;
  font-size: $relleno;
  font-weight: 600;
  font-family: 'fuente-principal';
  border-radius: 100px;
  background-color: $indigo-400;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.boton-comprar-padre {
  @extend .vermas-boton-padre
}

@keyframes boton-comprar-anime {

  0%{
    width: 25%;
  }
  50%{
    width: 50%;
  }
  100%{
    width: 100%;
  }
}

.ben-prom, .titulo-sucursales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin-top: 50px;
  background-color: $indigo-400;
}

.boton-dias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35px;
}

.todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
  margin-left: 20px;
  border-radius: 100px;
  width: 100px;
  font-family: 'fuente-principal';
  font-size: 15px;
  background-color: #000;
  color: #fff;
}

.flexi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px solid #000;
  padding: 15px 0px 20px 0px;
  margin: 50px;
  height: 400px;
}

.caj-c1, .caj-c2, .caj-c3, .caj-c4, .caj-c5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.bbvafrances, .icbc, .modo, .santander, .american {
  width: 200px;
}

/*
.caja-c1, .caja-c2, .caja-c3, .caja-c4, .caja-c5 { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 5px;
}
*/
.vermas-boton-padre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 25px;
  animation-name: boton-vermas-anime;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes boton-vermas-anime {

  0%{
    width: 25%;
  }
  50%{
    width: 50%;
  }
  100%{
    width: 100%;
  }
}

.vermaspro {
  width: 200px;
  font-size: $relleno;
  font-weight: 600;
  font-family: 'fuente-principal';
  border-radius: 100px;
  background-color: $indigo-400;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-arriwals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.invictus, .tom-ford, .dolce-gabbana, .given-mujer, .given-intense {
  width: 300px;
}

.versace-dos, .calvin-klein, .dior-seiscuotas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pour, .eros, .blue, .ckblanco, .ckbotella, .cknegro, .dior-addict, .dior-homme, .dior-sport {
  width: 300px;
  margin-left: $relleno;
}

iframe {
  width: 25%;
  display: flex;
  padding-top: 25px;
  justify-content: flex-end;
  align-items: end;
  margin-left: $relleno;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.Whatsapp, .Facebook, .Instagram {
  width: 20px;
}

.perfumes-clases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.givenchy, .givenchym, .carolinah {
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid;
}

.grid-container2 {
  /*Box-modeling*/
  width: 100%;
  max-width: 1900px;
  padding-top: 50px;
  background-color: #000;
  color: #fff;
  /*Tipografia*/
  font-family: "fuente principal";
  font-size: 15px;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 425px 425px 425px 425px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.perfume-hombre-mujer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: solid;
  padding: 0px 20px 0px 20px;
}

.perf-hombre, .perf-mujer, .perf-unisex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  color: $cyan-500;
}

.contenedor-perfumes {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  width: 100%;
}

.perfumes-grilla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
  margin-top: 100px;
}

.dol-gab-grilla, .dol-gab-grilla1, .dol-gab-grilla2, .dol-gab-grilla3, .dol-gab-grilla4, .dol-gab-grilla5, .dol-gab-grilla6, .dol-gab-grilla7, .dol-gab-grilla8, .dol-gab-grilla9, .dol-gab-grilla10, .dol-gab-grilla11, .dol-gab-grilla12, .dol-gab-grilla13, .dol-gab-grilla14 {
  width: 150px;
}

.titulo-grilla {
  font-size: $relleno;
  font-weight: 700;
}

.cuotas-grilla {
  font-weight: 500;
}

/*CSS GRID PRACTICA*/
.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 0px 50px 0px;
}

.grid-container > div {
  /*Box-modeling*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px;
  overflow: hidden;
  font-family: 'fuente-principal';

}

.grid-container {
  /*Box-modeling*/
  width: 90%;
  max-width: 1000px;
  margin: auto;
  /*Activamos GRID*/
  display: grid;
  /*definimos la cantidad de filas y el alto de las mismas*/
  grid-template-columns: 250px 250px 250px 250px;
  /*definimos la cantidad de columnas y el anchode las mismas*/
}

.letras {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

/*
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  width: 100%;
}
*/

.marcas-a, .marcas-b, .marcas-c, .marcas-d, .marcas-e, .marcas-f {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 20px 0px 20px 0px;
  margin: 20px;
}

.h4a, .h4b, .h4c, .h4d, .h4e, .h4f {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0px 0px 50px;
}

.adolf, .agatha, .alejandro, .alfap, .antban, .arex, .armani, .azzaro, .basiccare, .benetton, .beter, .biotherm, .burberry, .bvlgari, .cacharel, .cal-klein-marcas, .carlos-benaim, .caro-cuore, .chanel, .chloe, .clinique, .compagnie-de-provence, .davidoff, .diesel, .dior, .dior-backstage, .dolce-gabbana-marcas, .dsquared, .elie-saab, .ermenegildo-zegna, .estee-lauder, .fabyoulous {
  padding: 25px 0px 0px 50px;
}

.marcas-contpadre1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mapa {
  width: 25%;
  margin: 10px;
  padding: 20px;
  position: relative;
  background: transparent;
  border: 2px solid;
  box-shadow: 0 0 30px #000;
  overflow: hidden;
  margin-top: 100px;
}

.iframesucur {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-borrar {
  @extend .vermaspro
}

.div-input {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-enviar {
  @extend .boton-comprar
}

.p-contacto {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*Gradientes*/
/*background-image: linear-gradient(to bottom blue, white, green);
*/
/*background-image: radial-gradient(ellipse, red, yellow);
*/
/*.givenchyprueba {
  width: 20%; */
/*Transformaciones*/
/*transform: translateX(100px);
*/
/*
transform: translateY(200px);
*/
/*
transform: rotate(90deg);
*/
/*
transform: scale(2,3);
*/
/*
transform: skew(30deg);
*/
/*
.boton-prueba {
  background: #000;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
  color: #fff;
  margin-top: 10px;
*/
/*transicion
  transition: width 3s;

}*/
/*.boton-prueba:hover {
  width: 110%;
}
*/
/*Animaciones

.whatsapp-prueba {
  width: 100px;
  animation-name: logo-whatsapp-anime;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-delay: 3s;
}
*/
/*@keyframes logo-whatsapp-anime{

  ejemplo 1
  0%{
    width: 100px;
  }
  25%{
    width: 50px;
  }
  50%{
    width: 200px;
  }
  75%{
    width: 300px;
  }
  100%{
    width: 100px;
  }

}*/
/*@keyframes logo-whatsapp-anime{

  ejemplo 2
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(380deg);
  }

}*/
a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

/*Pseudoclases*/
a:hover {
  font-size: 20px;
  background-color: $indigo-400;
  border-bottom: 3px solid;
}

a:active {
  background-color: $indigo-400;
  color: #fff;
  padding: 10px;
}

/*
a:link {
  color: #1f43b0;
}
*/

/*
a:visited {
  color: rgb(205, 7, 7);
}
*/

/*.div-marcas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  margin: 10px;
}
*/
/*Flexbox Teoría*/
/*Contenedor Padre
.flex-container {
*/
/*Activamos flex
display: flex;
*/
/*definimos cual va a ser nuestro Main Axis y cual, o si sera fila o columna
flex-direction: row;
*/
/*dispone los elementos flexibles en el eje principal
justify-content: center;
*/
/*dispone los elementos flexibles en el eje secunadrio
align-items: center;
*/
/*defino el desborde de los flex items
  border: 5px solid #000;
  padding: 15px 0px 20px 0px;
  height: 400px;
  margin: 50px;
}*/
/*.mapa-uno, .mapa-dos, .mapa-tres, .mapa-cuatro, .mapa-cinco, .mapa-seis {
  width: 200px;
  height: 200px;
}*/
/*.mapas {
      display: flex;
      justify-content:center;
      align-items: center;
}*/
/*.contenedor-card, .contenedor-card2, .contenedor-card3, .contenedor-card4, .contenedor-card5, .contenedor-card6 {
  width: 200px;

}*/
/*Grid template areas*/
/*tipografia*/
/*Box-modeling*/
/*Activamos grid*/
/*grid areas*/
/*Modificar la disposicion de nuestro grid areas para este breakpoint*/
/*Nabvar con Flexbox*/
/*.icon-frascos {
  width: 100px;
  border-radius: 50%;
}
*/
/*nav {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
*/
/*:nth-child(N)*/
/*:nth-child(N) & nth-last-child*/
/* .lista :nth-child(7){
  background-color: #00cdf1;
  color: #732aaf;
  font-size: 20px;
} 
*/
/*posiciones impares*/
/*posiciones pares*/
/*First and last of type*/
/* .elementos p:last-of-type {
  text-transform: uppercase;
  color: #d86812;
  background-color: #91e5a2;
} 
*/
/* .elementos div:first-of-type {
  background-color: #70ece3;
  text-transform: capitalize;
  color: #b0b01f;
} 
*/
/*Metodologia BEM*/
/* .contenedor {
  max-width: 500px;
  width: 100%;
  margin: 20px;
} 
*/
/*Bloque 1*/
/* .tarjeta {
  width: 600px;
  border: 5px double #ccc;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
} 
*/
/*Elemento 1*/
/* .tarjeta_imagen {
  width: 60%;
} 
*/
/*Elemento 2*/
/* .tarjeta__textos {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  margin-bottom: 20px;
  color: #000;
} 
*/
/*Elemento 3*/
/* .tarjeta__enlace {
  color: crimson;
  padding: 10px auto;
  font-size: 20px;
  text-transform: uppercase;
} 
*/
/* .tarjeta__parrafo {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
} 
*/
/*Bloque 2*/
/* .boton {
  background-color: #000;
  display: block;
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
  color: #fff;
} 
*/
/*Modificador*/
/*Mediaqueries*/
/* @media screen and (max-width: 480px) {
  .contenedor-grid {
      /*tipografia*/
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
font-weight: bold; */
/*Box-modeling*/
/* width: 90%;
height: 600px;
margin: 40px auto;
border: 5px groove #fff; */
/*Activamos grid*/
/* display: grid;
grid-template-columns: 100%;
grid-template-rows: repeat(5,auto);
gap: 10px; */
/*grid areas*/
/* grid-template-areas: 
"header"
"main"
"aside"
"nav"
"footer"
; */
/* }
} */

/*@media screen and (min-width: 1024px) and (max-width: 1328px) { */
  /*
  .titulo-prueba {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: #732aaf;
    font-weight: lighter;
    border: 2px groove #000;
    margin-left: 20px;
    margin-top: 20px;
    */
  

@media screen and (min-width: 1200px) {
  /*
  .titulo-prueba {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: #732aaf;
    font-weight: lighter;
    border: 2px groove #000;
    margin-left: 20px;
    margin-top: 20px;
    */
  }

@media screen and (min-width: 768px) {
  /*
  .titulo-prueba {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    color: #732aaf;
    font-weight: lighter;
    border: 2px groove #000;
    margin-left: 20px;
    margin-top: 20px;
  */
}

@media screen and (max-width: 767px) {
  .flexi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    padding: auto;
    margin: auto;
    height: auto;
  }

  .todos, .lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
    margin-left: auto;
    border-radius: 100px;
    width: 100px;
    font-family: 'fuente-principal';
    font-size: 15px;
    background-color: #000;
    color: #fff;
  }

  /*
  .titulo-prueba {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 22px;
    color: #732aaf;
    font-weight: lighter;
    border: 2px groove #000;
    margin-left: 20px;
    margin-top: 20px;
  }
  */
}





/*# sourceMappingURL=estilos.css.map */